<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>AppSim 2.0</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css"></link>
	<script type="text/javascript" src="/js/adminHome_clientside.js"></script>
	<script type="text/javascript" src="/js/onload_functions.js"></script>
</head>
<body>	
	<div id="AdminHome">
		<div id="Banner">
			Simulation Administration
		</div>
		<ul>
			<li><a href = "#" onclick="load_networkSettings()">Manage Simulation</a></li>
			<li><a href="#" onclick="load_tokenDelivery()">Distribute Tokens</a></li>
			<li><a href="#" onclick="load_comingSoon()">View Network Topology</a></li>
			<li><a href="#" onclick="load_comingSoon()">Access Log</a><li>
			<li><a href="#" onclick="load_comingSoon()">Applications</a></li>
			<li><a href="#" onclick="load_comingSoon()">Developers</a></li>			
			<li><a href="#" onclick="load_comingSoon()">Users</a></li>
<!-- 			<li><a href="#" onclick="load_comingSoon()">Messaging</a></li>
			<li><a href="#" onclick="load_comingSoon()">Properties</a></li>			
			<li><a href="/help" onclick="load_comingSoon()">Help</a><li> -->
		</ul>
		<div id="ViewWindow">
			<h1>Network Simulation Framework 2.0</h1>
		</div>
	</div>
</body>
</html>