<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Welcome to AppSim</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/index.css"></link>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="/js/index_clientside.js"></script>
	<script type="text/javascript" src="/js/onload_functions.js"></script>
</head>
<body>	
	<div id="Login">
		<div id="Banner">
			AppSim Framework 2.0
		</div>
		<div href="#" class="admin-button" id="toggle-admin">Admin</div>
		<div href="#" class="register-button" id="toggle-register">User Registration</div>
		<div id="AdminForm">
			<div id="AdminTriangle"></div>
			<h1>Login</h1>
			<form>
				<h3>Enter administrator credentials:</h3>
				<input type="username" id="username_field" placeholder="Username"/>
				<input type="password" id= "password_field" placeholder="Password" />
				<button type="button" id="AdminLoginButton" onclick="adminLoginButtonClickHandler()">Log In</button>		
			</form>
		</div>
		<div style="display:none" id="RegisterForm">
			<div id="RegisterTriangle"></div>
			<h1>Register Your Device</h1>
			<form>
				<h3>Enter the token that you received via email:</h3>
				<input type="token" id="token_field" placeholder="Token"/>
				<button type="button" id="UserRegisterButton" onclick="registerButtonClickHandler()">Register</button>
		</div>
	</div>
</body>
</html>