<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Network Settings</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/networkSettings.css">
	<script src="/js/networkSettings_clientside.js" type="text/javascript"></script>
	<script type="text/javascript" src="/js/onload_functions.js"></script>
</head>
<body>
	<div id="NetworkSettings" >
		<div>
			<h1 id="Banner">Network and Device Settings</h1>
		</div>
		<div>
			<h1 id="ModifySimulationBanner">Modify Simulation</h1>
		</div>
		<div>
			<h1 id="CurrentSimulationBanner">Current Status</h1>
		</div>
		<div id="LeftFrame">
		
			
<!-- IMPORT RDT -->
<!-- 			<div id="LeftBox">
				<h3>Import RDT</h3>
				<label>RDT Name:</label><input type="text" id="importRdtName">
				<button id="importRDTButton" type="button" onclick="importRdtClickHandler()" style="margin-top:2px;">Import</button>
			</div> -->
			
<!-- REMOVE RDT -->
<!-- 			<div id="RightBox">
				<h3>Remove RDT</h3>
				<label>RDT Name:</label><input type="text" id="removeRdtName">
				<button id="removeRDTButton" type="button" onclick="removeRdtClickHandler()" style="margin-top:2px;">Remove</button>
			</div> -->
			
<!-- IMPORT APP -->
<!-- 			<div id="LeftBox">
				<h3>Import App</h3>
				<label>App Name:</label><input type="text" id="importAppName">
				<button id="importAppButton" type="button" onclick="importAppClickHandler" style="margin-top:2px;">Import</button>
			</div> -->
			
<!-- REMOVE APP -->
<!-- 			<div id="RightBox">
				<h3>Remove App</h3>
				<label>App Name:</label><input type="text" id="removeAppName">
				<button id="removeAppButton" type="button" onclick="removeAppClickHandler()" style="margin-top:2px;">Remove</button>
			</div> -->
						
<!-- ADD NETWORK -->
			<div id="LeftBox" style="height:180px;">
				<h3>Add Network</h3>
				<form>
					<label style="width:110px;">Network Name:</label><input type="text" id="addNetworkName"><br>
					<label style="width:110px;">Network Kind:</label><select id="addNetworkKind" style="width:128px; height:26px; margin-left:5px; text-align:center; font-size:20px; padding-left: 5px;">
											<option>-------------</option>
											<option>Wi-Fi</option>
											<option>GSM</option>
										</select>					
				</form>
				<button id="addNetworkButton" type="button" onclick="addNetworkClickHandler()" style="margin-top:2px;">Add</button>
			</div>
			
<!-- REMOVE NETWORK -->
			<div id="RightBox" style="height:180px;">
				<h3>Remove Network</h3>
				<label>Network Name:</label><input type="text" id="removeNetworkName">
				<button id="removeNetworkButton" type="button" onclick="removeNetworkClickHandler()" style="margin-top:40px;">Remove</button>
			</div>
			
<!-- ADD DEVICE -->
			<div id="LeftBox">
				<h3>Add Device</h3>
				<label>Device Name:</label><input type="text" id="addDeviceName">
				<button id="addDeviceButton" type="button" onclick="addDeviceClickHandler()" style="margin-top:2px;">Add</button>
			</div>
			
<!-- REMOVE DEVICE -->
			<div id="RightBox">
				<h3>Remove Device</h3>
				<label>Device Name:</label><input type="text" id="removeDeviceName">
				<button id="removeDeviceButton" type="button" onclick="removeDeviceClickHandler()" style="margin-top:2px;">Add</button>
			</div>
			
<!-- ADD DEVICE TO NETWORK -->
			<div id="LeftBox" style="height:160px;">
				<h3>Add Device To Network</h3>
				<form>				
					<label style="width:110px;">Network Name:</label><input type="text" id="addDeviceToNetworkNetworkName"><br>
					<label style="width:110px;">Device Name:</label><input type="text" id="addDeviceToNetworkDeviceName"><br>
					<button id="addDeviceToButton" type="button" onclick="addDeviceToNetworkClickHandler()" style="margin-top:2px;">Add</button>
				</form>
			</div>
			
<!-- REMOVE DEVICE FROM NETWORK -->
			<div id="RightBox" style="height:160px;">
				<h3>Remove Device From Network</h3>
				<form>
					<label style="width:110px">Network Name:</label><input type="text" id="removeDeviceFromNetworkNetworkName"><br>
					<label style="width:110px">Device Name:</label><input type="text" id="removeDeviceFromNetworkDeviceName"><br>
					<button id="removeDeviceToButton" type="button" onclick="removeDeviceFromNetworkClickHandler()" style="margin-top:2px;">Remove</button>
				</form>
			</div>
			
<!--- CONNECT TWO NETWORKS -->
			<div id="LeftBox" style="height: 160px;">
				<h3>Connect 2 Networks</h3>
				<label>Network 1:</label><input type="text" id="connectNetwork1Name"><br>
				<label>Network 2:</label><input type="text" id="connectNetwork2Name">
				<button id="Connect2NetworksButton" type="button" onclick="connectNetworksClickHandler()" style="margin-top:2px;">Connect</button>
			</div>
			
<!-- DISCONNECT TWO NETWORKS -->
			<div id="RightBox" style="height: 160px;">
				<h3>Disconnect 2 Networks</h3>
				<label>Network 1:</label><input type="text" id="disconnectNetwork1Name"><br>
				<label>Network 2:</label><input type="text" id="disconnectNetwork2Name">
				<button id="Disconnect2NetworksButton" type="button" onclick="disconnectNetworksClickHandler()" style="margin-top:2px;">Disconnect</button>
			</div>
			
<!-- REMOVE DEVICE FROM CURRENT NETWORK -->
			<div id="LeftBox" style="height: 160px;">
				<h3>Remove Device From Current Network</h3>
				<label>Device Name:</label><input type="text" id="removeDeviceFromCurrentNetworkDeviceName">
				<button id="removeDeviceFromCurrentNetworkButton" type="button" onclick="removeDeviceFromCurrentClickHandler()" style="margin-top:2px;">Add</button>
			</div>
<!-- RETURN DEVICE TO PREVIOUS NETWORK -->
			<div id="RightBox" style="height: 160px;">
				<h3>Return Device To Previous Network</h3>
				<label>Device Name:</label><input type="text" id="returnDeviceToPreviousNetworkDeviceName">
				<button id="returnDeviceToPreviousNetworkButton" type="button" onclick="returnDeviceFromPreviousHandler()" style="margin-top:5px;">Add</button>
			</div>
		</div>
		<div id="RightFrame">
			<div id="NetworksTable">
				<div id="network_summary">
					<h2> Networks </h2> 
					<p> Number of Networks: {{networkTotal}} </p> 
					{{#networks}} 
						<p class="cell"> 
							Name: {{networkName}} <br>
							Type: {{networkKind}} <br> 
							Number of connected devices : {{numDev}} <br>
						</p>
					{{/networks}}
				</div>	
				<div id="device_summary">
					<h2> Devices </h2> 
					<p> Number of Devices: {{deviceTotal}} </p>
					{{#devices}} 
						<p class="cell"> 
							Name: {{deviceName}} <br>
							Assigned to User Device: {{assigned}} <br> 				
						</p>
					{{/devices}}
				</div>			
				<div id="app_summary">
					<h2> Applications </h2> 
					<p> Number of Applications: {{appTotal}} </p>
					{{#apps}} 
						<p class="cell"> 
							Name: {{appName}} <br>			
						</p>
					{{/apps}}
				</div>
			</div>
		</div>
	</div>
</body>
</html>