<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>User Home Page</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/user.css"></link>
	<script type="text/javascript" src="/js/userHome_clientside.js"></script>
	<script type="text/javascript" src="/js/onload_functions.js"></script>
</head>
<body>	
	<div id="UserHome">
		<div id="Banner">
			Welcome to Simulation Framework 2.0
		</div>
		<ul>
			<li><a href="/profile" onclick="load_comingSoon()">Available Networks</a></li>
			<li><a href="/networkOptions" onclick="load_comingSoon">Your Applications</a></li>
			<li><a href="/apps" onclick="load_comingSoon()">Account</a><li>
			<li><a href="/networkTopology">Help</a></li>
<!-- 			<li><a href="/messaging" onclick="load_comingSoon()">Messaging</a></li>
			<li><a href="/properties" onclick="load_comingSoon()">Properties</a></li>			
			<li><a href="/help" onclick="load_comingSoon()">Help</a><li> -->
		</ul>
		<div id="ViewWindow">
			<h1>Hello and Welcome to AppSim 2.0</h1>
		</div>
	</div>
</body>
</html>